.affichage-articles {
    padding-top: 80px;
}
.pad-b {
    padding-bottom: 25px;
}

.article {
    border: 3px solid #01A867;
    width: 80%;
}

.center {
    text-align: center;
}

.btn-danger {
    background-color: red;
}

.btn-danger a{
    text-decoration: none;
    color: white;

}

.btn-success {
    background-color:#01A867 ;
}

.btn-success a {
    text-decoration: none;
    color: white;
}

.input-group-text {
    background-color: #01A867;
    color: white;
}

.card-body{
    margin: 0;
}

.card-body button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.input-group {
    width: 100%;
}


.add-delete-article a {
    text-align: center;

}

.test {
    background-color: black;
    display: inline;
}
