.navbar{
    background-color: #01A867;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 1%;
}

#header-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color : rgba(240, 240, 240, 0.7);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 240, 240, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.navbar-right {
    float: right;
}

button span {
    color: #01A867;
    font-size: 25px;
}

.dropdown-menu a{
    color: #01A867;
    font-weight: 500;
}