.navbar{
    background-color: #01A867;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#header-toggler {
    background-color: white;
    border : #01A867;
}
.nav-item a {
    color: white;
    text-decoration: none;
}

.navbar-right {
    float: right;
}

button span {
    color: #01A867;
    font-size: 25px;
}

.dropdown-menu a{
    color: #01A867;
    font-weight: 500;
}