:root {
    --bg-color: #01A867;
}


.popup-login {
    width: 40%;
    text-align: center;
    margin: auto;padding:auto;
    border: 1px solid var(--bg-color);
    margin-top: 50px;
    border-radius: 1em;
    background: var(--bg-color);
}

.popup-login h1 {
    color : white;
    font-family: 'Roboto';
    font-weight: 900;
    letter-spacing: 1px;


}

.popup-login-form {
    padding-top: 40px;
    width: 100%;
}

.popup-login-form input {
    margin-left: 7px;
    width: 90%;
    height: 20px;
    margin-bottom: 30px;
    background-color: var(--bg-color);
    border: none;
    border-bottom: 1px solid white;
    text-decoration: none;
    outline: none;
    color: white;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    outline: none;

}


.popup-login-form  input:-webkit-autofill {
    border: white !important;
    -webkit-text-fill-color: white !important;
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 10px $c-blue inset;
    transition: background-color 5000s ease-in-out 0s;
}

.popup-login-form i {
    color: white;
}

::placeholder { /* Most modern browsers support this now. */
    text-align: center;
    color: white;
    font-family: 'Lato';
    font-weight: 700;

}

.popup-login-form button {
    width: 90%;
    background: white;
    color :var(--bg-color);
    border: none;
    margin-bottom: 30px;
    height: 30px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 25px;
}

@media only screen and (max-width: 1200px ) {
    .popup-login {
        width: 80%;
    }
}