.btn-secondary{
    background-color: #a7a7ac;
    border-color: #212529;
}
.btn-secondary:not(:disabled):not(.disabled).active{
    background-color: #01A867;
    border-color: #01A867;
}
.btn-secondary.focus{
    box-shadow: 0 0 0 .2rem rgba(209,210,211,0.1);
}