.btn-primary{
    background-color: #01A867;
}

.alert-danger {
    background-color: #ffc107;
}

.btn-danger {
    background-color: red;
}

.btn-orange {
    background-color: #ffc107;
}

.pad-t {
    padding-top: 20px;
}
pad-b{
    padding-bottom: 20px;
}
