$blue: #0E55F4;
$indigo: #6235FF;
$purple: #8624E8;
$pink: #CE28FF;
$red: #A81D01;
$orange: #DB7117;
$yellow: #FFC107;
$green: #01A867;
$teal: #3AE4D2;
$cyan: #4DDEFB;
$white: #FFF;
$gray: #737a7b;

$primary: #0E55F4;
$secondary: #737a7b;
$success: #01A867;
$info: #4DDEFB;
$warning: #FFC107;
$danger: #A81D01;
$light: #F8F9FA;
$dark: #212426;

$gray-lighter: #d9e2df;
$blue-light: #5889F6;
$green-light: #01F496;
$red-light: #F4674B;
$gray-light: #adb9ba;
$blue-dark: #0A3FB5;
$green-dark: #01955B;
$red-dark: #841701;
$yellow-dark: #e2aa07;
$gray-dark: #515759;
$blue-darker: #072975;
$green-darker: #01814F;
$black: #121314;

$default-theme: #01A867;
$stockmarket-theme: #177952;
