# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '127.0.0.1'
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: '127.0.0.1'
    mailer_user: ~
    mailer_password: ~

    # E-mail address to use while in development mode
    env(dev_mail_address): ~
    env(mailing_list_address): ~

    # IDs for Algolia, Can be found on the Dashboard. The API key is the Admin one.
    env(ALGOLIA_APP_ID): XXXXXXXXXX
    env(ALGOLIA_API_KEY): indicateYourAdminApiKeyHere
    env(algolia_api_search_key): indicateYourSearchOnlyKeyHere
    env(algolia_index): indexToSearchFrom

    # Printer's properties for using Escpos by Mike42
    env(escpos_printer_ip): ~
    env(escpos_printer_port): ~

    # Project's and developer's infos to display at bottom of pages
    env(developer_url): ~
    env(developer_username): ~
    env(project_url): ~
    env(project_version): '1.2'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
