{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/signup.css') }}">{% endblock %}

{% block body %}

<div class="alert alert-secondary">

    <h1>Hello</h1>

</div>

{% endblock %}