{% extends 'base.html.twig' %}

{% block title %}{{ status_code }} Page Non Trouvée{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/errors.css') }}"
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><i class="fas fa-exclamation-triangle"></i> Erreur {{ status_code }}</h1>
            <h2 class="lead">Page non trouvée :(</h2>
            <p class="lead">La page que vous cherchez n'existe pas ou a été déplacée.<br/>
            Vérifiez que l'URL est correct et que vous n'avez pas trop bu...<br/>
            <br/>
            Vous pouvez <a href="mailto:{{ admin_mail }}">contacter</a> l'administrateur du site si ce problème vous semble anormal.</p>
        </div>
    </div>
{% endblock %}