.container-fluid {
    padding-bottom: 16px;
}
.affichage-articles {
    margin-bottom: 16px;
}

/*.card {
    width: 80%;
}*/

.btn-outline-success {
    color: #01A867;
    background-color: #fff;
    background-image: none;
    border-color: #ced4da;
}

.btn-outline-danger {
    color: #c11601;
    background-color: #fff;
    background-image: none;
    border-color: #ced4da;
}

.input-prix {
    margin-bottom: 0.5rem;
}

.mb-5, .my-5 {
    margin-bottom: 1rem !important;
}

/*label {
    color: #495057;
    margin-bottom: 0;
}*/