.modal {
    color: var(--green);
    font-weight: 600;
}

.btn-primary{
    background-color: var(--primary);
}

form input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 10px var(--blue) inset;
    transition: background-color 5000s ease-in-out 0s;
}


