.mode-status[shown=false] {
    opacity: 0;
    transition: opacity 1s linear;
}

.mode-status[shown=true] {
    opacity: 100% !important;
    transition: opacity 0.3s ease-in-out;
}

.mode-status[success=false] {
    color: var(--danger);
}

.mode-status[success=true] {
    color: var(--success);
}

.mode-status[success=undefined] {
    color: var(--warning);
}