{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<div class="container-fluid">

        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-save"></i> Information : {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    <div class="jumbotron">

        <div class="container">
            {% if is_granted(expression('"ROLE_INTRO" in roles')) %}
                <h1 class="display-3">Bonjour {{ app.user.username }} :)</h1>
                <p class="lead">La connexion est validée, vous pouvez commencer à explorer !</p>
            {% else %}
                <h1 class="display-3">Connectez-vous</h1>
                <p class="lead">Cette application est en cours de développement mais vous pouvez l'explorer
                    librement en vous connectant <a href="{{ path('login') }}">ici</a> !</p>
            {% endif %}
        </div>
    </div> 
</div>


{% endblock %}