.form-control:disabled{
    background: transparent !important;
    border: none !important;
    color: inherit;
}
.table th {
    vertical-align: middle;
}

th[scope=row] {
    text-align: center;
}

.custom-control-label::before, .custom-control-label::after {
    top: -.8rem;
    left: -1.9rem;
}
