@import 'helper/variables';
@import 'components/bootstrap-toggle';

.mode-status[shown=false] {
    opacity: 0;
    transition: opacity 1s linear;
}

.mode-status[shown=true] {
    opacity: 100% !important;
    transition: opacity 0.3s ease-in-out;
}

.mode-status[success=false] {
    color: $danger;
}

.mode-status[success=true] {
    color: $success;
}

.mode-status[success=undefined] {
    color: $warning;
}