{% extends "base.html.twig" %}

{% block title %}AppBundle:TreasuryController:showIndex{% endblock %}

{% block body %}
    <h1>Welcome to the TreasuryController:index page</h1>
    <p>This is a work in progress.</p>
{% endblock %}
