<div id="{{ datatable.name }}" class="table-responsive {{ class ?? '' }}" data-settings="{{ datatable_settings(datatable)|escape }}">
    <span class="text-success datatable-loading-text"><i class="fa fa-{{ icon ?? 'spinner' }}"></i>&nbsp;Chargement...</span>
</div>